@import 'tailwindcss';

/* tailwindcss settings */

@theme {
  --spacing: calc(100vw / 375);
  /* 遍历生成 */
}
@utility text-* {
  font-size: --value(number) px;
}

@theme {
  --animate-rotate: rotate 3s linear infinite;
  --animate-rotate-reverse: rotate 3s linear infinite reverse;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
