@import './vars.css';
/* @import './base.css'; */
html {
  font-size: 16px;
}

body {
  font-family: var(--yi-font-family);
  font-weight: 400;
  font-size: var(--yi-font-size-base);
  color: var(--yi-text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
