@import './base.css';
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
}
html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
